#responsive-css-editor-tabs {
   margin-top: 20px;
}

textarea {
   width: 100%;
   font-family: monospace;
   font-size: 14px;
}

.button-primary {
   margin-top: 10px;
}

.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
    font-size: 14px;
}

#desktop-css, #tablet-css, #mobile-css {
    margin-bottom: 20px;
}

#save-css-button {
    margin-top: 10px;
}
